
interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic Og==
    method: GET
    uri: https://sandbox-rest.avatax.com/api/v2/definitions/taxcodes
  response:
    body:
      string: "{\"@recordsetCount\":5250,\"value\":[{\"id\":8763,\"companyId\":1,\"taxCode\":\"SP102900\",\"taxCodeTypeId\":\"S\",\"description\":\"Expired
        Tax Code - Do Not Use\",\"parentTaxCode\":\"SP100000\",\"isPhysical\":false,\"goodsServiceCode\":0,\"entityUseCode\":\"\",\"isActive\":false,\"isSSTCertified\":true,\"createdDate\":\"2005-11-23T20:32:41.42Z\",\"createdUserId\":0,\"modifiedDate\":\"2014-06-27T22:09:53.07Z\",\"modifiedUserId\":0},{\"id\":8764,\"companyId\":1,\"taxCode\":\"SP103000\",\"taxCodeTypeId\":\"S\",\"description\":\"Expired
        Tax Code - Do Not Use\",\"parentTaxCode\":\"SP100000\",\"isPhysical\":false,\"goodsServiceCode\":0,\"entityUseCode\":\"\",\"isActive\":false,\"isSSTCertified\":true,\"createdDate\":\"2005-11-23T20:32:41.42Z\",\"createdUserId\":0,\"modifiedDate\":\"2014-06-27T22:09:53.073Z\",\"modifiedUserId\":0},{\"id\":8765,\"companyId\":1,\"taxCode\":\"SP103100\",\"taxCodeTypeId\":\"S\",\"descript[...]
